<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

<context:annotation-config/>
<bean class="com.mypackage.Address" name="address1" >
<property name="city" value="Indore"/>
<property name="state" value="Madhya Pradesh"/>
</bean>

<bean class="com.mypackage.Address" name="address" >
<property name="city" value="Sagar"/>
<property name="state" value="Bihar"/>
</bean>

<bean class="com.mypackage.Employee" name="emp">
</bean>

</beans>