<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd
        http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd"> <!-- bean definitions here -->


	<tx:annotation-driven />



	<bean
		class="org.springframework.jdbc.datasource.DriverManagerDataSource"
		name="drivermanagerDS">
		<property name="driverClassName"
			value="com.mysql.cj.jdbc.Driver" />
		<property name="url" value="jdbc:mysql://localhost:3306/J2EE" />
		<property name="username" value="root" />
		<property name="password" value="root" />
	</bean>

	<bean
		class="org.springframework.orm.hibernate5.LocalSessionFactoryBean"
		name="lsfactory">
		<property name="dataSource">
			<ref bean="drivermanagerDS" />
		</property>
		<property name="annotatedClasses">
			<list>
				<value>com.mypackage.Student</value>
			</list>
		</property>
		<property name="hibernateProperties">
			<props>
				<prop key="dialect">org.hibernate.dialect.MySQL8Dialect</prop>
				<prop key="show_sql">true</prop>
				<prop key="hbm2ddl.auto">update</prop>
			</props>
		</property>
	</bean>

	<bean class="org.springframework.orm.hibernate5.HibernateTemplate"
		name="htemp">
		<property name="sessionFactory" ref="lsfactory"/>
	</bean>

	<bean
		class="org.springframework.orm.hibernate5.HibernateTransactionManager"
		name="hibTransactionM">
		<property name="SessionFactory">
			<ref bean="lsfactory" />
		</property>
	</bean>

	<bean class="com.mypackage.StudentDao" name="StudentDao">
		<property name="ht" ref="htemp">
		</property>
	</bean>

</beans>